body {
    background-image: url(image.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

h1 {
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;

    padding: 15px;
    text-align: center;
}

h2 {
    background-color: darkblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: coral;

    text-align: center;
}